html,body{
    height: 100%;
    margin: 0px;
}


#root{

    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 171px 1fr 1fr 1fr 100px;
    grid-template-areas:      
        "header"
        "aside"
        "main"
        "sidebar"
        "advertising"
        "footer"; 
    row-gap: 10px;
   
}   
.box1{

        background-color: orange;
        grid-area: header;

    }
.box2{

    background-color: olivedrab;
    grid-area: aside;

}
.box3{

    background-color:yellowgreen;
    grid-area: main;

}
.box4{

    background-color: blueviolet;
    grid-area: sidebar;
}
.box5{
    background-color: cadetblue;
    grid-area: advertising;
}
.box6{
    background-color:cyan;
    grid-area: footer;
}

@media screen and (min-width: 500px) {
    #root{

        display: grid;
        height: 100%;
        grid-template-columns: 1fr 171px 800px 1fr;
        grid-template-rows: 80px 60px 171px 1fr 1fr 60px;
        grid-template-areas:      
            "header header header header"
            "aside aside aside aside"
            ". sidebar main ."
            ". sidebar main ."
            ". advertising  main ."
            "footer footer footer footer"; 
        row-gap: 10px;
        column-gap: 10px;
       
    }  
    
    
}


