
#header{
    height: 70px;
    background-color: blue;
    overflow:hidden;


    display: flex;
    
}
    /* header .content-float {

        width: 960px;
        height: 100%;
        background-color: cornflowerblue;
        min-height: inherit;
        margin-left: auto;
        margin-right: auto;

    } */
    header>div{
        background-color:white;
        flex-basis: 152px;



    }
    .twitch-icon{
        background:white url(../images/twitch.png) no-repeat;
        background-size: contain;
    }

    header>.content-float{
        background-color: #747d8c;

        flex-basis: 960px;
        flex-shrink: 0;

    }

#body{
    min-height: 300px;
    background-color: #a4b0be;  

    
    display:flex;

}

    #body>#main {
        height: 300px;
        background-color: #ff4757;
        width:400px;
        margin-left: 152px;
        
    }

    #body>#aside {
        background-color: #ff6b81;
        height: 300px;
        width:560px;

    }

#footer{
    height:100px;
    background-color:#dfe4ea;
    overflow:hidden;
}




.homework-big-container{
    height: 400px;
    width:400px;
    
    
    flex-wrap: wrap;
    display:flex;
    background-color: #2f3542;
 

}

    .homework-small-container1{
        flex-basis: 200px;
        height: 200px;
        display: flex;
        background-color: #dfe4ea;
        
       
    }
        .item1{
            background-color: #57606f;
            flex-basis: 100px;
            height: 100px;
            
        }
    .homework-small-container2{
        flex-basis: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        background-color: #ced6e0;

    }
        .item2{
            background-color: #f1f2f6; 
            width: 100px;
            height: 100px;  
        }
    .homework-small-container3{
        
        flex-basis: 200px;
        height: 200px;
        display: flex;
        background-color: #dfe4ea;
        align-items: flex-end;


    }
        .item3{
            background-color: #5352ed; 
            flex-basis: 100px;
            height: 100px;   
        }
    .homework-small-container4{

        flex-basis: 200px;
        height: 200px;
        display: flex;
        
        background-color: #3742fa;
    }
        .item4{
            background-color: #ffffff;
            flex-basis: 100px;
            
        }
    