
#header{
    height: 70px;
    background-color: blue;
    overflow:hidden;


    display: flex;
    
}
    /* header .content-float {

        width: 960px;
        height: 100%;
        background-color: cornflowerblue;
        min-height: inherit;
        margin-left: auto;
        margin-right: auto;

    } */
    header>div{
        background-color: grey;
        flex-basis: 152px;


    }

    header>.content-float{
        background-color: hotpink;
        flex-basis: 960px;
        flex-shrink: 0;

    }

#body{
    min-height: 300px;
    background-color: red;  

    
    display:flex;

}

    #body>#main {
        height: 300px;
        background-color: darkmagenta;
        width:400px;
        margin-left: 152px;
        
    }

    #body>#aside {
        background-color: darkgreen;
        height: 300px;
        width:560px;

    }

#footer{
    height:100px;
    background-color:blueviolet;
    overflow:hidden;
}




.homework-big-container{
    height: 400px;
    width:400px;
    
    
    flex-wrap: wrap;
    display:flex;
    background-color: darkslategray;
    align-content: center;

}

    .homework-small-container1{
        flex-basis: 200px;
        height: 200px;
        display: flex;
        background-color: darkseagreen;
        
       
    }
        .item1{
            background-color: crimson;
            flex-basis: 100px;
            height: 100px;
            
        }
    .homework-small-container2{
        flex-basis: 200px;
        height: 200px;
        align-items: center;
        display: flex;
        background-color: dodgerblue;

    }
        .item2{
            background-color: darkgoldenrod; 
            width: 100px;
            height: 100px;  
        }
    .homework-small-container3{
        
        flex-basis: 200px;
        height: 200px;
        display: flex;
        background-color: greenyellow;
        align-items: flex-end;


    }
        .item3{
            background-color: darkgreen; 
            flex-basis: 100px;
            height: 100px;   
        }
    .homework-small-container4{

        flex-basis: 200px;
        height: 200px;
        display: flex;
        
        background-color: indianred;
    }
        .item4{
            background-color: darkslateblue;
            flex-basis: 100px;
            
        }
    