html{

}

body {

    margin : 0;
}


/* -------------------------------------------------------*/






#header {
    background-color: yellow;
    height: 70px;
    
}




#visual{
    background-color: red;
    height: 171px;

}


#body{
    background-color: green;
    min-height:300px;
}

    .wow>#aside{
        background-color:yellow;

    }

    main{
        background-color: blue;

    }


    #body>.wow{

        display: flex;
    }

#footer{
    background-color:blue;
    height: 100px;
}


.wow{
    background-color: blueviolet;
    width: 960px;
    min-height: inherit;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    opacity:0.7;
}
