
html{
    min-height: 100vh;
    margin: 0px;
}

body{

    min-height: inherit;
    margin: 0px;
    background-color: #F8F8F8;
}

.d-none{
    display: none;
}

ol, ul , li , a {
    list-style-type:none;
    text-decoration: none;
    color: #000000;
    margin:0px;
    padding: 0px;
}   




.content{background-color: #ffffff;}
.side{background-color: #F8F8F8;}
.board-name-write{background-color:#F8F8F8;}
.side-nav{background-color: #F2F2F2;}



/*  setting */
.icon {

    text-indent: -3000px !important;
}








    
    /* lay out */




    main > .side-nav{
        min-height: 40px;
        border: solid;
        border-color: #E3E3E3;
        border-width: 1px;
    }
    main > .board-name-write{

        min-height: 55px;
        border: solid;
        border-color: #E3E3E3;
        
        border-width: 1px;
        border-top: 0px;
    }

    

    #root .side{
        display: none;

    }


    .content {

        min-height: 80vh;
      
        border-left: 1px solid #E3E3E3; 
        border-right: 1px solid #E3E3E3;
        
    }









/*side nav */

main > .side-nav > ul {
    min-height:inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;

}

main > .side-nav > ul a {
    font-style: bold;
    font-size: 15px;

}



/*board name write*/

main > .board-name-write {
    display: flex;
    align-items: center;
    
}
main > .board-name-write a {
    color: #444;
    font-size: 17px;
    font-weight: bold;
    
}
main > .board-name-write > :nth-child(2) {
    display: flex;
    justify-content: center;
    flex-shrink: 0; 
    margin-left: 5vw;
}
main > .board-name-write > :nth-child(3) {
    flex-basis: 100px;
    height: 10px;
    flex-grow: 2;
    
}
main > .board-name-write > :nth-child(4) {
    
    border-width: 1px solid #4CAE4C;
    background-color: #5CB85C;
    height: 30px;
    flex-basis: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    margin-right: 5vw;
}
main > .board-name-write > :nth-child(4) a {
    color: #ffffff;
    font-weight: normal;
}











/* pager */


.pager{
    
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.pager > ul {

    display: inline-flex;
    flex-wrap: wrap;
    
}
.pager a {
    font-size: 13px;
    color: #A6A6A6;
    margin-left: 3px;
    margin-right: 3px;
}


.pager > ul > li {

    line-height:23px;
    height: 28px;
    width: 28px;
    border: 1px solid #E3E3E3;
    background-color: #ffffff;
    
    align-items: center;
    flex-wrap: wrap;
}


.pager > ul > li:first-child{
    border-radius: 10px 0px 0px 10px;

}

.pager > ul > li:last-child{
    border-radius: 0px 10px 10px 0px;

}





/* content  */

.content-profile {
    
    padding: 15px 15px;
    display: flex;
    align-items: center;


}

.content-profile > div {    
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background: url(../images/profile.png) no-repeat center;
    background-size: cover;
}    

.content-profile > ul { margin-left: 15px;}
.content-profile > ul > li:nth-child(1){font-size : 14px; font-weight: bold;}
.content-profile > ul > li:nth-child(2){font-size: 12px;}








/* write title*/

.write-title > div{
    height: 1px;
    display: flex;
    justify-content: center;
}    
.write-title > div > div{
    margin-top: 10px;
    height: 1px;
    display: block;
    border-bottom: 1px solid #E3E3E3;
    width: 95%;
}    

.write-title > form {
   padding: 0px 15px;
}
.write-title > form > input{
    height: 22px;
    font-size: 22px;
    color: #292929 ;
    outline: none;
    border: none;
    width: 100%;
}    







/*write content*/

.write-content {

    padding: 30px 15px;

}


.write-content > textarea {
    font-size: 16px;
    color: #333333;
    min-height: 400px;
    width:100%; 
    resize:none;
    border: none;
    outline: none;
    overflow: hidden;
    
}














/* write bottom nav */

.board-bottom-nav {
    background-color: #ffffff;

    border-left: 1px solid #E3E3E3; 
    border-right: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
}

.board-bottom-nav > div{
    height: 1px;
    display: flex;
    justify-content: center;
}    
.board-bottom-nav > div > div{
    height: 1px;
    display: block;
    border-bottom: 1px solid #E3E3E3;
    width: 95%;
}    

.board-bottom-nav > ul {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.board-bottom-nav > ul > li:nth-child(1){
    width: 20px;
    height: 10px;
    background: url(../images/icon-link.png) no-repeat center;
}
.board-bottom-nav > ul > li:nth-child(2){
    margin-left: 20px;
    width: 23px;
    height: 20px;
    background: url(../images/icon-camera.png) no-repeat center;
}
.board-bottom-nav > ul > li:nth-child(3){
    flex-grow: 1;
}
.board-bottom-nav > ul > li:nth-child(4){

}












@media screen and (min-width: 780px) and (max-width: 1079px){
  
    
    #root{
        
        display: grid;
        min-height: inherit;
        grid-template-columns: 1fr 780px 1fr ;
        grid-template-rows: 225px 1fr; 
    }

    #root .side{
            display: block;
            grid-column: 2/3;
            grid-row: 1/2;
    
    }


    #root > .content {
        grid-column: 2/3;
        grid-row: 2/3;
        border-top : 1px solid #E3E3E3;
    }

    .board-bottom-nav {
        grid-column: 2/3;
        grid-row: 3/last-line;
    }




    /* tablet side */


    #root .side {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    #root .gongzi {
        
        height: 200px;
        width: 382px ;
        background-color: #f2f2f2;
        border: 1px solid #e3e3e3;


    }
    #root .gongzi > ul > li {
        font-size: 12px;
        padding: 5px 10px 5px 10px;
        color: #a6a6a6;
        height: 28px;
        border-bottom: 1px solid #e3e3e3 ;
        
    }
    #root .gongzi > ul > li > span {
        margin-top: 2px;
        font-size: 10px;
        float: right;
    }
    #root .gongzi > ul > li:nth-child(1) {
        color: #292929;
        font-weight: bold;
        height: 30x;
        border-bottom: 1px solid #e3e3e3;
    }
    #root .gongzi > ul > li:nth-child(7){
        border-bottom: 0px;
    }

    #root .gongzi > ul > li > a {
        color: #444444;
    }





    #root .hotnotice {
        
        height: 200px;
        width: 382px ;
        background-color: #f2f2f2;
        border: 1px solid #e3e3e3;


    }
    #root .hotnotice > ul > li {
        font-size: 12px;
        padding: 5px 10px 5px 10px;
        color: #a6a6a6;
        height: 28px;
        border-bottom: 1px solid #e3e3e3 ;
        
    }
    #root .hotnotice > ul > li > span {
        margin-top: 2px;
        font-size: 10px;
        float: right;
    }
    #root .hotnotice > ul > li:nth-child(1) {
        color: #292929;
        font-weight: bold;
        height: 30x;
        border-bottom: 1px solid #e3e3e3;
    }
    #root .hotnotice > ul > li:nth-child(7){
        border-bottom: 0px;
    }

    #root .hotnotice > ul > li > a {
        color: #444444;
    }




/*content*/
.write-title > div > div{

    width: 92%;
}    
.write-title > form {
    padding: 0px 30px;
 }

    .content-profile {
    
        padding: 15px 30px;

    }
 
    
    
 

/*write content*/

.write-content {

    padding: 30px 30px;
}


    







}






















@media screen and (min-width: 1080px){
    
    
    #root{
        min-height: inherit;
        display: grid;
        grid-template-columns: 1fr 780px 300px 1fr ; 
        grid-template-rows: 40px 1fr; 
        
    }


 

    #root > .content {
        grid-column: 2/3; 
        grid-row: 1/3;
    }


    #root .side{
        
        height: 560px;
        display: block;
        
        grid-column: 3/4;
        grid-row: 2/last-line;
    }



    .board-bottom-nav {
        grid-column: 2/3;
        grid-row: 3/last-line;
    }








    /* pc side */


    #root .side {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }


    #root .gongzi {
        margin-left: 20px;
        height: 268px;
        width: 280px ;
        background-color: #f2f2f2;
        border: 1px solid #e3e3e3;
        margin-bottom: 20px;


    }

    #root .hotnotice {
        margin-left: 20px;
        height: 268px;
        width: 280px ;
        background-color: #f2f2f2;
        border: 1px solid #e3e3e3;
    }




  
    #root .gongzi > ul > li {
        
        font-size: 14px;
        padding: 10px;
        color: #a6a6a6;
        height: 38px;
        border-bottom: 1px solid #e3e3e3 ;
        
    }
    #root .gongzi > ul > li > span {
        margin-top: 2px;
        font-size: 12px;
        float: right;
    }
    #root .gongzi > ul > li:nth-child(1) {

        color: #292929;
        font-weight: bold;
        height: 40x;
        border-bottom: 1px solid #e3e3e3;
    }
    #root .gongzi > ul > li:nth-child(7){
        border-bottom: 0px;
    }

    #root .gongzi > ul > li > a {
        color: #444444;
    }




    #root .hotnotice > ul > li {
        font-size: 14px;
        padding: 10px;
        color: #a6a6a6;
        height: 38px;
        border-bottom: 1px solid #e3e3e3 ;
        
    }
    #root .hotnotice > ul > li > span {
        margin-top: 2px;
        font-size: 12px;
        float: right;
    }
    #root .hotnotice > ul > li:nth-child(1) {
        
        color: #292929;
        font-weight: bold;
        height: 40px;
        border-bottom: 1px solid #e3e3e3;
    }
    #root .hotnotice > ul > li:nth-child(7){
        border-bottom: 0px;
    }

    #root .hotnotice > ul > li > a {
        color: #444444;
    }







   /*content*/
.write-title > div > div{

    width: 92%;
}    
.write-title > form {
    padding: 0px 30px;
 }

    .content-profile {
    
        padding: 15px 30px;

    }
 
    
  


    /*write content*/

.write-content {

    padding: 30px 30px;
}








}







